* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.hero {
  height: 100vh;
  background: url("../img/bg-main.svg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-content {
  text-align: center;
  color: white;
}
.hero .hero-content h1 {
  font-size: 56px;
  margin-right: 750px;
  text-align: left;
}
.hero .hero-content button {
  margin-top: 100px;
  margin-right: 1150px;
  width: 210px;
  height: 48px;
  font-size: 12px;
  background-color: #F2726F;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
}

.promise {
  position: relative;
  margin-top: -150px;
  padding-top: 150px;
}
.promise .promise-container {
  width: 1020px;
  height: 700px;
  margin-top: -80px;
  margin-left: 450px;
  background: url("../img/Rectangle 3.svg") no-repeat center/cover;
  position: relative;
}
.promise .promise-container .promise-image {
  position: absolute;
  top: 0;
  right: 0;
}
.promise .promise-container .promise-image .promise-image-top {
  width: 201px;
  height: 317px;
  position: absolute;
  margin-top: -108px;
  margin-right: -78px;
  right: 0;
}
.promise .promise-container .promise-image .promise-image-bottom {
  width: 846px;
  height: 420px;
  position: absolute;
  bottom: -125px;
  right: 85px;
  top: 400px;
}
.promise .promise-container .promise-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.promise .promise-container .promise-content h4 {
  display: flex;
  text-align: center;
  font-size: 12px;
  text-align: left;
  margin-bottom: 185px;
  margin-left: -75px;
}
.promise .promise-container .promise-content h4 img {
  width: 17px;
  height: 16px;
  margin-right: 10px;
}
.promise .promise-container .promise-content h1 {
  font-size: 34px;
  margin-top: -150px;
  text-align: left;
  margin-left: -75px;
}
.promise .promise-container .promise-content h4:last-of-type {
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
}

.promise-cards-section {
  padding-top: 175px;
}
.promise-cards-section .promise-cards-container {
  width: 1020px;
  margin: 0 auto;
  text-align: center;
}
.promise-cards-section .promise-cards-container h4 {
  display: flex;
  text-align: left;
  font-size: 12px;
  color: #5D62B5;
}
.promise-cards-section .promise-cards-container h4 img {
  width: 17px;
  height: 16px;
  margin-right: 10px;
}
.promise-cards-section .promise-cards-container h2 {
  font-size: 36px;
  margin: 20px 0;
  text-align: left;
}
.promise-cards-section .promise-cards-container .promise-cards {
  display: flex;
  justify-content: space-between;
}
.promise-cards-section .promise-cards-container .promise-cards .promise-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.promise-cards-section .promise-cards-container .promise-cards .promise-card img {
  width: 63px;
  height: 63px;
  margin-bottom: 10px;
}
.promise-cards-section .promise-cards-container .promise-cards .promise-card h3 {
  color: #F2726F;
  font-size: 19px;
  margin: 10px 0;
  text-align: left;
}
.promise-cards-section .promise-cards-container .promise-cards .promise-card p {
  font-size: 16px;
  text-align: left;
}

.services {
  background: url("../img/BG Image.svg") no-repeat center/cover;
  margin-top: 100px;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}
.services .services-content {
  text-align: center;
  color: white;
}
.services .services-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: left;
  margin-top: -125px;
  margin-right: 300px;
}
.services .services-content button {
  width: 210px;
  height: 48px;
  margin-right: 550px;
  margin-top: 25px;
  font-size: 12px;
  background-color: #F2726F;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
}/*# sourceMappingURL=style.css.map */